*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: powderblue;
    padding-top: 2%;
    background-image: url("https://images8.alphacoders.com/926/926492.jpg");
}

nav{
    font-size: small;
    letter-spacing: 1.5px;
    color: bisque;
    margin-right: 75%;
    margin-left: 2%;
    text-align: justify;
    padding-bottom: 5%;
    
    
}

.titulo{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    color: purple;
   
}

.subtitulo{
    text-align: center;
    padding-bottom: 7%;
    padding-top: 2%;
    color: rgb(179, 9, 179);
}

main{
    background: paleturquoise;
    height: 100%;
    width: auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.Blog{
    border: 1px solid wheat;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

/*espaciado*/

.espaciadoBlogs{
    background: paleturquoise;
    padding: 5%;
}

/*espaciado*/

p{
    margin: 2%;
    text-align: justify;
    color: rgb(189, 134, 112);
}

img{
    border-radius: 10px;
    width: 75%;
    height: auto;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

footer{
    padding-left: 36%;
    padding-right: 36%;
    padding-top: 7%;
    padding-bottom: 7%;
    background: chocolate;
    color: azure;
}


